$font-family:                 'leroy_merlin_sansregular', 'Arial', sans-serif;
$font-family--headings:       $font-family !default;
$font-family--light:          'leroy_merlin_sanslight', 'Arial', sans-serif;
$font-family--bold:           'leroy_merlin_sansbold', 'Arial', sans-serif;

// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  body {
    background-repeat: no-repeat;
    background-position: top center;
  }

  &--main {
    body {
      background-image: url(../img/bg-main.jpg);

      @media (max-width: $screen-md) {
        background-image: url(../img/bg-main--mobile.jpg);
      }
    }
  }

  &--request {
    body {
      background-image: url(../img/bg-page.jpg);
    }
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__section {
    margin-bottom: 70px;

    &--contacts {
      margin-bottom: 0;
    }
  }

  &__section-header {
    text-align: center;
    margin-bottom: 55px;
  }
  &__section-title {
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 38px;
    max-width: 490px;
    margin: 0 auto 0 auto;

    @media (max-width: $screen-sm) {
      font-size: 32px;
    }
  }

  &__section-sub-title {
    line-height: 1.2;
    margin: 0;
    font-size: 23px;
    font-family: $font-family--light;

    @media (max-width: $screen-sm) {
      font-size: 18px;
    }
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: #fff;
  margin: 0;
  min-height: 100%;

  @media (max-width: $screen-md) {
    padding-top: 57px;
  }
  @media (max-width: 550px) {
    padding-top: 46px;
  }
  @media (max-width: $screen-sm) {
    padding-top: 46px;
  }
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  @include container;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-125 {
  margin-bottom: 125px;
}

.dmn {
  @media (max-width: $screen-md) {
    display: none;
  }
}
